### Tensorflow
- 머신러닝 오픈소스 라이브러리

### Keras
- 텐서플로우에 대한 추상화 API 제공
- 백엔드로 텐서플로우로 사용하며, 쉽게 딥러닝을 사용할 수 있게 도와준다

### GenSIM
- 머신러닝을 사용, 토픽 모델링과 자연어 처리 등을 수행할 있게 해주는 오픈소스 라이브러리

### Scikit-learn
- 파이썬 머신러닝 라이브러리

### NLK
- 자연어 처리를 위한 파이썬 패키지

### KoNLPy
- 자연어 처리를 위한 형태소 분석기 패키지

##  Pandas 
- 데이터 처리를 위한 라이브러리

3가지의 데이터 구조 사용
1. 시리즈
2. 데이터프레임
3. 패널

In [5]:
import pandas as pd

## Series
- 시리즈 클래스는 1차원 배열의 값(values)에 각 값에 대응되는 index를 부여할 수 있는 구조

In [6]:
sr = pd.Series([17000, 18000, 1000, 5000],
               index=["피자", "치킨", "콜라", "맥주"])
print('시리즈 출력 :')
print('-'*10)
print(sr)

시리즈 출력 :
----------
피자    17000
치킨    18000
콜라     1000
맥주     5000
dtype: int64

In [7]:
## 값, 인덱스 출력
print('시리즈의 값 : {}'.format(sr.values))
print('시리즈의 인덱스 : {}'.format(sr.index))

시리즈의 값 : [17000 18000  1000  5000]
시리즈의 인덱스 : Index(['피자', '치킨', '콜라', '맥주'], dtype='object')

## DataFrame
- 2차원 리스트를 매개변수로 전달한다
- 2차원이기 때문에 행(raw), 열(column)이 존재한다

In [8]:
values = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
index = ['one', 'two', 'three']
columns = ['A', 'B', 'C']

df = pd.DataFrame(values, index=index, columns=columns)

print('데이터프레임 출력 :')
print('-'*18)
print(df)

데이터프레임 출력 :
------------------
       A  B  C
one    1  2  3
two    4  5  6
three  7  8  9

### index, 값(value), 열(column) 출력

In [14]:
print('데이터프레임 인덱스 : {}'.format(df.index))
print('데이터프레임 열 : {}'.format(df.columns))
print('데이터프레임 값')
print("*" * 20)
print(df.values)

데이터프레임 인덱스 : Index(['one', 'two', 'three'], dtype='object')
데이터프레임 열 : Index(['A', 'B', 'C'], dtype='object')
데이터프레임 값
********************
[[1 2 3]
 [4 5 6]
 [7 8 9]]

## DataFrame 생성
- 데이터프레임은 다양한 데이터프레임을 생성할 수 있다

In [15]:
## 리스트로 생성
data = [
    ['1000', 'Steve', 90.72], 
    ['1001', 'James', 78.09], 
    ['1002', 'Doyeon', 98.43], 
    ['1003', 'Jane', 64.19], 
    ['1004', 'Pilwoong', 81.30],
    ['1005', 'Tony', 99.14],
]

df = pd.DataFrame(data)
print(df)

      0         1      2
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

이렇게 생성된 데이터프레임에 열(columns)를 지정해보자

In [16]:
df = pd.DataFrame(data, columns = ['학번', '이름', '점수'])
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

딕셔너리를 통해 데이터프레임을 생성해보자

In [17]:
data = {
    '학번' : ['1000', '1001', '1002', '1003', '1004', '1005'],
    '이름' : [ 'Steve', 'James', 'Doyeon', 'Jane', 'Pilwoong', 'Tony'],
    '점수': [90.72, 78.09, 98.43, 64.19, 81.30, 99.14]
    }

df = pd.DataFrame(data)
print(df)

     학번        이름     점수
0  1000     Steve  90.72
1  1001     James  78.09
2  1002    Doyeon  98.43
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

## 데이터프레임 조회하기
### 명령어 종류

- df.head(n) : 앞 부분을 n개만 보기
- df.tail(n) : 뒷 부분을 n개만 보기
- df['열이름'] : 해당되는 열을 확인

In [18]:
# 앞 부분을 3개만 보기
print(df.head(3))

     학번      이름     점수
0  1000   Steve  90.72
1  1001   James  78.09
2  1002  Doyeon  98.43

In [19]:
# 뒷 부분을 3개만 보기
print(df.tail(3))

     학번        이름     점수
3  1003      Jane  64.19
4  1004  Pilwoong  81.30
5  1005      Tony  99.14

In [20]:
# '학번'에 해당되는 열을 보기
print(df['학번'])

0    1000
1    1001
2    1002
3    1003
4    1004
5    1005
Name: 학번, dtype: object

In [21]:
df = pd.read_csv('th_1.csv')
print(df)

   student id      name   score
0         100     Steve   90.12
1         101     James   80.34
2         102    Doyeon   79.12
3         103      Jane   81.30
4         104  Pilwoong   99.14
5         105      Tony   98.12
6         106   TaeHoon  100.00

In [22]:
print(df.index)

RangeIndex(start=0, stop=7, step=1)