## 파이썬 자료구조 - 리스트

In [3]:
aa = [10, 20, 30, 40]
#대괄호 사용
print(aa)
print(type(aa))

[10, 20, 30, 40]
<class 'list'>

### list()와 range()을 이용하여 리스트 만들기

In [4]:
aa = list(range(10))
#range(0, 10, 1)

print(aa)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
bb = list(range(10, 0, -1))
print(bb)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [9]:
cc = list(reversed(range(10)))
print(cc)

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### for로 모든 리스트 출력하기

In [10]:
aa = [10, 20, 30, 40]
for i in aa:
    print(i)

10
20
30
40

In [12]:
## enumerate()함수를 사용해보자(순서를 알 수 있다)

In [14]:
aa = [10, 20, 30, 40]
for i, j in enumerate(aa):
    print(i, j)

0 10
1 20
2 30
3 40

### 리스트의 합 구하기

In [15]:
aa = [10,20,30,40]
hap = 0
for i in aa:
    hap = hap + i

print(hap)

100

### 리스트의 인덱싱과 슬라이싱

In [16]:
aa = [10, 20, 30, 40, 50, 60, 70, 80, 90]
aa[0]

10

In [17]:
aa[2]

30

In [18]:
aa[-2]

80

In [19]:
aa[0:5]
#끝값이 5 = 인덱스 4번까지 들고와라

[10, 20, 30, 40, 50]

In [20]:
aa[1:1]
#값이 없다

[]

In [22]:
aa[0:len(aa)]
#aa의 길이를 끝값으로 함으로써 전체를 출력한다

[10, 20, 30, 40, 50, 60, 70, 80, 90]

### 리스트 값 변경

In [24]:
aa = [10, 20, 30]
aa[1] = 200
print(aa)

#리스트는 값을 내 마음대로 바꿀 수 있다

[10, 200, 30]

In [25]:
aa = [10, 20, 30]
del(aa[1])
print(aa)

#del로 삭제도 가능하다

[10, 30]

### 파이썬 자료구조 - 튜플(tuple)

In [26]:
tt1 = (10, 20, 30)

try:
    tt1.append(40)
except Exception as e:
    print(e
          
# tuple은 값을 변경할 수 없다

'tuple' object has no attribute 'append'

### 리스트의 연산

In [28]:
aa = [10, 20, 30]
bb = [40, 50, 60]
print(aa + bb)

#2개의 리스트를 연결해준다

[10, 20, 30, 40, 50, 60]

In [29]:
aa = [10,20,30]
print(aa * 3)

#리스트의 값을 반복한다

[10, 20, 30, 10, 20, 30, 10, 20, 30]

### 리스트 조작함수

In [31]:
#내림차순
aa = [10,20,15,19,30]
aa.sort(reverse = True)
print(aa)

[30, 20, 19, 15, 10]

In [32]:
#오른차순(sort 함수)
bb = [10,20,30,15,18,20]
sorted(bb)

[10, 15, 18, 20, 20, 30]

In [34]:
#sorted 함수 내림차순
bb = [10,20,30,15,18,20]
sorted(bb, reverse = True)

[30, 20, 20, 18, 15, 10]

### unpacking, packing, zip

#### 언패킹

In [35]:
x = [1, 2, 3]
a, b, c = x
print(a, b, c)

1 2 3

#### packing

In [36]:
a = [1,2,3]
b = (1,2,3)
c = 1,2,3

#c도 tuple이다. 소괄호는 생략 가능

list(map(type, [a,b,c]))

[list, tuple, tuple]

#### zip

In [39]:
a = ['apple', 'banana', 'cherry']
b = [3500, 2000, 5000]
for a,b in zip(a, b):
    print((a, b))

('apple', 3500)
('banana', 2000)
('cherry', 5000)

### 파이썬 자료구조 - 딕셔너리

In [43]:
#학생정보 딕셔너리
student = {'학번' : 20205274, '이름' : '허태훈', '학과':'컴퓨터공학과'}
print(student)
print(type(student))

#해싱구조이기때문에 딕셔너리를 검색속도가 상당히 빠르다

{'학번': 20205274, '이름': '허태훈', '학과': '컴퓨터공학과'}
<class 'dict'>

In [44]:
#딕셔너리 접근(검색)
print(student['학번'])
print(student.get('학번'))

#겁색방법
#1. 학번을 입력하거나, get이라는 함수를 사용한다

20205274
20205274

In [45]:
#없는 자료를 찾을 때 예시로 student['주소']를 할 경우 에러가 발생, 코드가 멈출 수 있다
#그러기 때문에 student.get()을 선호한다

### 딕셔너리의 함수

In [48]:
student.keys()

#1. keys : 키값을 모아준다

dict_keys(['학번', '이름', '학과'])

In [50]:
student.values()

# 값들을 모아서 보여준다

dict_values([20205274, '허태훈', '컴퓨터공학과'])

In [51]:
student.items()

dict_items([('학번', 20205274), ('이름', '허태훈'), ('학과', '컴퓨터공학과')])

In [54]:
for i, j in student.items():
    print(i, j)

학번 20205274
이름 허태훈
학과 컴퓨터공학과

### in 연산자

In [56]:
'주소' in student

#키값이 딕셔너리 안에 있는지 없는지 판별할 수 있다

False

### 문자열(String)

In [57]:
s1 = 'python'
s2 = "python"
s3 = '''p
y
t
h
o
n'''

print(s1, type(s1))
print(s1, type(s2))
print(s1, type(s3))

#방법 1 : ' ' 사용
#방법 2 : " " 사용
#방법 3 : '''''' 사용

python <class 'str'>
python <class 'str'>
python <class 'str'>

#### 문자열 연산

In [59]:
s1 = '허태훈 '
s2 = '강서공고 졸업생'
print(s1 + s2)

허태훈 강서공고 졸업생

### 문자열 인덱싱과 슬라이싱

In [60]:
a = "Hello World"
print(a[0])
print(a[-1])
print(a[0:5])
print(a[:5])

#문자열의 인덱싱은 리스트의 인덱싱과 비슷하다

H
d
Hello
Hello